.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
}
.search-form {
  width: 150px;
  font-size: 14px;
}
.search-form input {
  text-align: center;
  color: #262626;
}
.image-wrapper {
  display: flex;
  height: 100%;
}
.logo-image {
  color: #231f20;
  margin: .8rem .2rem; 
}
.logo-title {
  height: 29px;
  margin: 1rem .8rem;
  padding-left: 1rem;
  border-left: 1px solid #bbb;
}

.social-wrapper {
  display: flex;
}

.social {
  width: 50px;
}
